* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #faf9f6;
    border-collapse: collapse;
}