.question-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    background-color: white;
}

.questions-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 20%;
    background-color: white;
    align-items: center;
    font-size: larger;
    border: 2px solid black;
}

.answer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
    margin-top: 0.5em;
    width: 100%;
    height: 10%;
    max-height: 15%;
    font-size: medium;
    border: 2px solid black;
}

.answer-container:hover {
    background-color: green;
}